<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store Admin</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <% if (VITE_ENV === 'prod') { %>
    <script src="https://cdn.staticfile.org/vue/3.3.2/vue.global.prod.min.js"></script>
    <!-- pinia依赖 -->
    <script src="https://cdn.jsdelivr.net/npm/vue-demi@0.14.5"></script>
    <script src="https://cdn.staticfile.org/element-plus/2.3.6/index.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-plus/2.3.6/index.css" />
    <script src="https://cdn.staticfile.org/echarts/5.3.3/echarts.min.js"></script>
    <% } %>
  </body>
</html>
